/* #region app-wide */

* {
  box-sizing: content-box;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  padding: 0;
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-color: #ef845a;
  background-image: linear-gradient(#ef845a, #cd324c);
  background-attachment: fixed;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a:link {
  text-decoration: none;
}

/* #endregion */

/* #region banner */

#banner {
  box-shadow: 0 4px 4px 0 #00000080;
  position: fixed;
  top: 0;
  height: 60px;
  width: 100%;
  background-color: #444444;
}

#hamburger {
  display: inline-block;
  color: #ffffff;
  font-size: 40px;
}

.fa-times {
  padding: 0 12.5px 0 19px;
  line-height: 60px;
}

.fa-bars {
  padding: 0 9px 0 15px;
  line-height: 60px;
}

#logo {
  display: inline-block;
  height: 49px;
  margin: 4px 0 7px 0;
  vertical-align: top
}

#chin-chin {
  display: inline-block;
  padding-left: 8px;
  font-size: 40px;
  color: #ffffff;
}

#menu {
  box-shadow: 0 4px 4px 0 #00000080;
  border-radius: 0 0 5px 5px;
  width: max-content;
  padding: 5px 25px;
  background-color: #444444;
}

.hidden {
  visibility: hidden;
}

.visible {
  visibility: visible;
}

.menu-item {
  line-height: 40px;
  font-size: 20px;
  color: #ffffff;
}

.menu-icon {
  display: inline-block;
  width: 30px;
}

/* #endregion */

/* #region home */

#home {
  padding: 90px 65px;
}

.top-heading {
  font-size: 30px;
  padding-bottom: 10px;
}

.body-text {
  max-width: 750px;
}

/* #endregion */

/* #region filter */

#filters {
  padding-top: 60px;
}

#filter-items {
  width: 100%;
  background-color: #888888
}

/* #endregion */

/* #region cocktail cards */

#flex-container {
  flex-wrap: wrap;
  display: flex;
  padding: 0 10px;
}

.card-padding {
  margin: auto;
  padding: 20px 10px;
}

.cocktail-item {
  transition: background-color 1s ease;
  display: inline-block;
  width: 250px;
  text-align: center;
}

.cocktail-item:hover {
  background-color: #c2c2c2;
}

.card {
  box-shadow: 0 4px 8px 0 #00000080, 0 6px 20px 0 #00000080;
  border-radius: 20px;
  background-color: #ffffff;
}

.image-container {
  overflow: hidden;
  margin: 25px 25px 14px 25px;
  border-radius: 10px;
  height: 200px;
  background-color: #444444;
}

.thumbnail {
  border-radius: 10px;
  width: 200px;
  height: 200px;

}

.name {
  padding-bottom: 15px;
  font-size: 20px;
  color: black;
}

/* #endregion */

/* #region single cocktail */

.indi-cocktail {
  flex-wrap: wrap;
  display: flex;
  padding: 60px 10px;
}

#picture-padding, #cocktail-details {
  padding: 20px 15px 0 15px;
}

.full-size {
  border-radius: 10px;
  width: 350px;
  height: 350px;
}

/* #endregion */

/* #region sign-page */

.sign-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}

.sign-page > .form {
  font-family: Georgia, 'Times New Roman', Times, serif;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
}

.sign-page > .form input {
  font-family: Georgia, 'Times New Roman', Times, serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

.sign-page > .form .form-submit {
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-transform: uppercase;
  outline: 0;
  background: #e3645d;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  cursor: pointer;
}

.sign-page > .form .form-submit:hover,.form .form-submit:active,.form .form-submit:focus {
  background: #d23654;
}

.sign-page > .form .message {
  margin: 15px 0 0;
}

.sign-page > .form .message a {
  text-decoration: none;
}

.sign-page > .form .register-form {
  display: none;
}

.sign-page >.form .input-title {
  margin-bottom: 4px;
  text-align: left;
}

.sign-page >.form .input-message {
  color: #FF0000;
  padding-left: 16px;
}

/* #endregion */


/* #region drinks-cabinet */

.in-cabinet {
  color: #00FF00;
}

.not-in-cabinet {
  color: #FF00FF;
}

.drinks-cabinet-list {
  width: 75%;
  margin: 100px;
  padding: 25px;
  line-height: 30px;
  font-size: 20px;
}

.drinks-cabinet-list-item:nth-child(odd) {
  background: #e0e0e0;
}

.star-button {
  padding: 10px;
  font-size: 25px;
  border: none;
  background: none;
}

.drinks-cabinet-page {
  padding-top: 160px;
}

.drinks-cabinet-cocktails-page {
  padding-top: 160px;
}

/* #endregion */

/* @media screen and (max-width: 540px) {

  .cocktail-item {
    width: 176px;
  }

  .image-container, .thumbnail {
    height: 140px;
  }

  .thumbnail {
    width: 140px;
  }

  .image-container, .thumbnail {
    margin: 9px;
  }
} */
