body {
  margin: 0;
  font-family: Georgia, 'Times New Roman', Times, serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.thumbnail {
  margin: 25px 0 10px 0;
  border-radius: 10px;
  width: 200px;
}

.name, .base {
  color: black;
}

a:link {
  text-decoration: none;
}

.flex-container {
  padding: 80px 10px;
  display: flex;
  flex-wrap: wrap;
}

.indi-cocktail {
  padding: 50px 20px;
}

.cocktail-item {
  transition: background-color 1s ease;
  margin: auto;
  margin-bottom: 30px;
  box-shadow: 0 4px 8px 0 #00000080, 0 6px 20px 0 #00000080;
  border-radius: 20px;
  width: 250px;
  text-align: center;
}

.cocktail-item:hover {
  background-color: #c2c2c2;
}

.name {
  font-size: 20px;
}

.base {
  padding-bottom: 15px;
  font-size: 15px;
}

#banner {
  position: fixed;
  height: 60px;
  width: 100%;
  background-color: #444444;
}

#hamburger {
  padding-left: 15px;
  padding-right: 10px;
}

.fa-times {
  font-size: 45px;
  padding: 5px 2px;
}

#logo {
  display: inline;
  margin: 5px;
  width: 40px;
}

#chin-chin-logo, #hamburger {
  display: inline;
  vertical-align: super;
  font-size: 40px;
  color: #ffffff;
  font: Georgia;
}

#menu {
  padding: 5px 0;
  width: 150px;
  background-color: #444444
}

.menu-item {
  color: #ffffff;
  padding-left: 15px;
  line-height: 30px;
  font-size: 20px;
}

.hidden {
  visibility: hidden;
}

.visible {
  visibility: visible;
}

.heading {
  padding: 80px 5px 10px 60px;
  font-style: Georgia;
  font-size: 30px;
}

.body-text {
  padding: 0 60px;
  max-width: 750px;
}
