/* #region app-wide */

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body, .filter-buttons, .form, .form input, .form .form-submit, .cabinet-button {
  font-family: Georgia, 'Times New Roman', Times, serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

body {
  margin: 0;
  min-height: 100%;
  padding: 0;
}

a, a:link {
  text-decoration: none;
}

#gradient {
  position: fixed;
  z-index: -1;
  background-size: auto 100vh;
  background-attachment: initial;
  background-color: #ef845a;
  background-image: linear-gradient(#ef845a, #cd324c);
  height: 100%;
  width: 100%;
}

#spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.spinner-animation {
    animation: spin 1s linear infinite;
}

@keyframes spin {
    from { transform:rotate(0deg); }
    to { transform:rotate(360deg); }
}

#banner, #filter-bar, #filter-items {
  box-shadow: 0 4px 4px 0 #00000080;
}

.spinner-animation, #hamburger, #chin-chin, .menu-item, .menu-text, #filter-bar, .collapse-menu, 
.ingredient-category, #max-missing, .filter-buttons, .form .form-submit, .cabinet-button {
  color: #ffffff
}

#banner, #menu, .filter-buttons {
  background-color: #444444;
}

/* #endregion */

/* #region banner */

#banner {
  position: fixed;
  z-index: 1;
  top: 0;
  width: 100%;
  height: 60px;
}

#hamburger {
  display: inline-block;
  cursor: pointer;
  font-size: 40px;
}

.fa-times {
  padding: 0 12.5px 0 19px;
  line-height: 60px;
}

.fa-bars {
  padding: 0 9px 0 15px;
  line-height: 60px;
}

#logo {
  display: inline-block;
  margin: 4px 0 7px 0;
  height: 49px;
  vertical-align: top
}

#chin-chin {
  display: inline-block;
  padding-left: 8px;
  font-size: 40px;
}

#menu {
  transition: all 0.5s ease;
  border-radius: 0 0 5px 5px;
  width: max-content;
  padding: 5px 22px;
  height: 100vh;
}

.menu-hidden {
  margin-left: -248px;
}

.menu-visible {
  margin-left: 0px;
}

.menu-item {
  line-height: 40px;
  font-size: 20px;
}

.menu-icon {
  display: inline-block;
  width: 35px;
}

.menu-seperator {
  opacity: 0.4;
  margin: 8px 0;
  width: 100%;
  height: 1px;
  background-color: #ffffff;
  border-top: solid 1px #ffffff;
  border-bottom: solid 1px #000000;
}

.menu-text {
  width: 150px;
  font-size: 20px;
  line-height: 40px;
}

/* #endregion */

/* #region home */

#home {
  padding: 90px 65px;
}

.top-heading {
  padding-bottom: 10px;
  font-size: 30px;
}

.body-text {
  max-width: 750px;
}

/* #endregion */

/* #region filter */

#filters {
  height: 60px;
}

#filter-bar {
  position: fixed;
  top: 70px;
  right: 10px;
  border-radius: 5px;
  padding: 20px;
  background-color: #888888;
  cursor: pointer;
  font-weight: bold;
  font-style: italic;
}

#filter-items {
  position: fixed;
  z-index: 0;
  top: 60px;
  left: 0;
  width: 100%;
  padding: 0 10px;
  background-color: #888888;
  text-align: left;
}

.show-filters-menu {
  display: inline;
}

.collapse-filter-menu {
  display: none;
}

.collapse-menu {
  position: relative;
  top: 15px;
  right: 5px;
  float: right;
  height: 0;
  cursor: pointer;
  font-weight: bold;
  font-style: italic;
}

#spirits, #mixers, #liqueurs {
  display: inline-block;
  padding: 5px 20px 0 0;
}

.ingredient-category {
  padding: 10px 0 10px 5px;
  font-size: 18px;
  font-style: italic;
}

.spirit-column, .mixer-column, .liqueurs-column {
  display: inline-block;
  padding-right: 15px;
  vertical-align: top;
}

#max-missing {
  display: inline-block;
  width: 240px;
  padding: 10px 0 10px 5px;
  font-size: 16px;
  font-style: italic;
}

#max-missing-input {
  border: none;
  border-radius: 5px;
  height: 25px;
  width: 30px;
  font-size: 13px;
  text-align: right;
}

.filter-buttons {
  border: none;
  margin-bottom: 10px;
  border-radius: 5px;
  height: 25px;
  cursor: pointer;
  font-size: 15px;
  font-style: italic;
}

.left-filter-button {
  margin-right: 10px;
}

#no-results {
  width: 100%;
  padding-top: 100px;
  font-size: 1.5em;
  text-align: center;
}

/* #endregion */

/* #region cocktail cards */

#flex-container {
  flex-wrap: wrap;
  display: flex;
  padding: 0 10px;
}

.card-padding {
  margin: auto;
  padding: 20px 10px;
}

.cocktail-item {
  display: inline-block;
  transition: background-color 1s ease;
  width: 250px;
  padding-bottom: 15px;
  text-align: center;
}

.cocktail-item:hover {
  background-color: #c2c2c2;
}

.card {
  box-shadow: 0 4px 8px 0 #00000080, 0 6px 20px 0 #00000080;
  border-radius: 20px;
  background-color: #ffffff;
}

.image-container {
  overflow: hidden;
  margin: 25px 25px 14px 25px;
  border-radius: 10px;
  height: 200px;
}

.thumbnail {
  border-radius: 10px;
  height: 200px;

}

.name {
  font-size: 20px;
  color: #000000;
}

.missing {
  padding: 5px 10px 0 10px;
  font-size: 15px;
  color: #444444;
}

/* #endregion */

/* #region single cocktail */

.cocktail-details-parent {
  padding: 100px 40px;
}

.indi-cocktail {
  flex-wrap: wrap;
  display: flex;
  overflow: hidden;
  margin: auto;
  width: fit-content;
  padding: 30px;
}

#cocktail-image {
  margin: 0 auto;
  border-radius: 10px;
  max-width: 350px;
}

.full-size {
  border-radius: 10px;
  width: 350px;
  vertical-align: top;
}

#cocktail-details {
  width: 400px;
  padding-left: 30px;
  vertical-align: top;
}

.item-title {
  font-weight: bold;
}

/* #endregion */

/* #region sign-page */

.sign-page {
  margin: auto;
  width: 360px;
  padding: 8% 0 0;
}

.form {
  margin: 0 auto 100px;
  max-width: 360px;
  padding: 45px;
  background-color: #ffffff;
  text-align: center;
}

.form input {
  margin: 0 0 15px;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  width: 100%;
  padding: 15px;
  background-color: #f2f2f2;
  font-size: 14px;
}

.form .form-submit {
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  border: 0;
  outline: 0;
  width: 100%;
  padding: 15px;
  background-color: #e3645d;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 14px;
}

.form .form-submit:hover, .form .form-submit:active, .form .form-submit:focus {
  background-color: #d23654;
}

.form .message {
  margin: 15px 0 0;
}

.form .message a {
  text-decoration: none;
}

.form .register-form {
  display: none;
}

.form .input-title {
  margin-bottom: 4px;
  text-align: left;
}

.form .input-message {
  padding-left: 16px;
  color: #ff0000;
}

/* #endregion */

/* #region drinks-cabinet */

.drinks-cabinet-page {
  max-width: 800px;
  padding: 80px 65px;
}

.cabinet-button {
  margin-bottom: 20px;
  border: 0;
  border-radius: 10px;
  width: 48.3%;
  height: 50px;
  padding: 0px;
  background-color: #888888;
  font-size: 20px;
}

.left-button {
  margin-right: 20px;
}

.drinks-cabinet-list {
  padding: 25px;
  font-size: 20px;
  line-height: 20px;
}

.section {
  margin-bottom: 25px;
}

.section-header {
  height: 30px;
  font-style: italic;
  text-align: center;
  vertical-align: top;
  color: #444444;
}

.drinks-cabinet-list-item:nth-of-type(odd) {
  background-color: #e0e0e0;
}

.star-button {
  border: none;
  padding: 10px;
  background: none;
  font-size: 25px;
}

.drinks-cabinet-cocktails-page {
  padding: 60px 0;
}

/* #endregion */

@media screen and (max-width: 939px) {

  .cocktail-details-parent {
    padding: 80px 0 20px 0;
  }

  .indi-cocktail {
    display: block;
    width: 80%;
    padding: 15px;
  }

  .full-size {
    width: 100%;
    height: auto;
    padding: 0;
  }

  #cocktail-details {
    margin: auto;
    width: 275px;
    padding: 10px 0;
  }
}

@media screen and (max-width: 729px) {

  #spirits, #mixers, #liqueurs {
    padding-right: 0px;
  }

  .spirit-column, .mixer-column, .liqueurs-column {
    padding-right: 10px;
  }

  .cabinet-button {
    width: 100%;
  }

  .left-button {
    margin-right: 0;
  }
}